.control_panels_and_queue {
    display: flex;
    align-items: center;
    }
.control_panels {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.game_control_panel {
/*    border: 1px dashed; */
    background-color: #F4F4F4;
    width: 200px;
    padding: 10px;
    }
.bounty_control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
.bounty_control > div {
    align-self: center;
    justify-self: center;
    }
.versus_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 20px;
    }
.declare_winner_button, .start_event_button {
    margin-top: 20px;
    background-color:lightskyblue;
    }
.all_queues {
    flex: 0 1 66%;
    }
.queue {
    border: 2px solid;
    width: 605px;
    }
.queue div {
/*    height: 25px; */
    }
.queue_spacer {
    height: 25px;
    }
.chart_labels {
    background-color: #F4F4F4;
    }
.champ_queue {
    width: 600px;
    background-color: #FFE7E7;
    }
 .challenger_queue {
    width: 600px;
    background-color: #CBEAF9;
    }
.new_player_form {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: 1px dashed;
    }
.new_player_form_row {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    }
.chart_labels, .player_row, .champ_queue, .challenger_queue {
    display:grid;
    grid-template-columns: 2fr 1fr;

    padding: 10px 5px 10px 5px;
    }
.player_row:nth-of-type(odd) {
    background-color: #DBF4D7;
    }
.bid {
    width: 10em;
    }
div.control_panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    }
div.player_control {
    display: flex;
    margin: 10px;
    width: 200px;
    text-align: center;
    border: 1px dotted black;
    align-items: center;
    flex-flow: column;
    }
.player_name {
    margin: 10px;
    }
.control_panel_wallet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100px;
    margin: 10px;
    }
.bid_action {
    text-align: center;
    width: 5em;
    background-color: red;
    }
.bid_input_button {
    text-align: center;
    width: 10em;
    background-color: lightgray;
    margin: 0 0 20px 0;
    }
.add_player_button {
    margin-top: 20px;
    }
.error {
    color: red;
    }