.queue {
    border: 2px solid;
}

.queue div {
    height: 25px;
}

.new_player_form {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: 1px dashed;
}

.new_player_form_row {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chart_labels, .player_row {
    display:grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px dashed;
}

.queue > div:first-child {
    background-color: f2f0d8;
}

.queue > div:last-child {
    border-bottom: none;
}

.player_row > div:nth-child(2) {
    background-color: #ffb2aa;
}

.bid {
    width: 10em;
}

div.player_control {
    display: flex;
    margin: 10px;
    width: 20em;
    text-align: center;
    border: 1px dotted black;
    align-items: center;
    /*  justify-content: space-around; */
    flex-flow: column;
}

.player_name {
    margin: 10px;
}

.control_panel_wallet {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100px;
    margin: 10px;
}

.bid_action {
    text-align: center;
    width: 5em;
    background-color: red;
}

.bid_input_button {
    text-align: center;
    width: 10em;
    background-color: gray;
    margin: 0 0 20px 0;
}

.add_player_button {
    margin-top: 20px;
/*  display: inline-block; */
}